# Dependency directories
.dart_tool/
.packages
pubspec.lock

# IDEs
.idea/
.vscode/
!extensions/vscode/.vscode/
!extensions/vscode/.vscode/launch.json
!extensions/vscode/.vscode/tasks.json
*.iml
*.iws

# OS
.DS_Store
